<div class="my-card">
  <h2>{{ event.label }}</h2>
  <i class="fas fa-arrow-right"></i>
  <p>
    {{ event.date }}
    <br />
    <b>{{ event.company_name }}</b>
  </p>
  <img alt="image-activity" class="my-pic" src="{{ event.picture1 }}" />
  <ul class="dots-container">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="my-social">
    <i *ngIf="event.facebookUrl" class="fab fa-facebook-f"></i>
    <i *ngIf="event.twitterUrl" class="fab fa-twitter"></i>
    <i *ngIf="event.instagramUrl" class="fab fa-instagram"></i>
  </div>
  <button (click)="onSelectEvent()"></button>
</div>
