<div class="layout" fxLayout="row">
  <div fxFlex="60">
    <div fxFlex="column" fxFlexAlign="center" class="login-form">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>
            <h1 class="text-center">Log in <span>Sparetime</span></h1>
            <h3 class="text-uppercase">
              Choose your favorite social network
              <mat-icon class="large-icon" svgIcon="horns-sign"></mat-icon>
            </h3>
          </mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content fxLayout="column" fxLayoutGap="50px">
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <a class="butt facebook" href="javascript:void(0)" (click)="loginFacebook()">
              <i class="fab fa-facebook-f"></i>
            </a>

            <a class="butt instagram" href="#">
              <i class="fab fa-instagram"></i>
            </a>

            <a class="butt tumblr" href="#">
              <i class="fab fa-tumblr"></i>
            </a>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <a class="butt pinterest" href="#">
              <i class="fab fa-pinterest"></i>
            </a>

            <a class="butt tiktok" href="#">
              <i class="fab fa-tiktok"></i>
            </a>

            <a class="butt reddit" href="#">
              <i class="fab fa-reddit"></i>
            </a>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <a class="butt linkedin" href="#">
              <i class="fab fa-linkedin"></i>
            </a>

            <a class="butt youtube" href="#">
              <i class="fab fa-youtube"></i>
            </a>

            <a class="butt twitter" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40" class="bg-image-1">
    <div fxLayout="column" fxLayoutAlign="center center" class="layer">
      <h3 class="title">Sparetime©</h3>
      <h1 class="subheading">Discover an innovative way to find your <span style="color: #3f51b5">events !</span></h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos doloremque est harum in ipsam itaque
        magni natus nostrum perferendis quia suscipit ut, voluptates! Animi aperiam beatae blanditiis inventore odit.
      </p>
    </div>
  </div>
</div>
