@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css";

.layout {
  min-height: 100vh;
  background: linear-gradient(90deg, #f3f7fa 50%, white 50%);
}

.login-form {
  padding: 0 100px;
}

.bg-image-1 {
  background-image: url("https://www.nchambon.com/spencer-davis-naFHFLV5cqU-unsplash.jpg");
  background-size: cover;
}

.bg-image-2 {
  background-image: url("https://www.nchambon.com/markus-spiske-RmvlD0oTsAo-unsplash.jpg");
  background-size: cover;
}

.middle{
  text-align: center;
}
.butt{
  text-align: center;
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.butt i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.butt:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.butt::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.butt:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
     left: 10%;
     top: -30%;
   }100%{
      top: -10%;
      left: -10%;
    }
}

