<app-layout></app-layout>

<mat-tab-group>
  <!--Tab for the top event-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">star</mat-icon>
      Your perfect event
    </ng-template>
    <!--    <div class="my_perfect_event">-->
    <!--      <div class="container-fluid my_perfect_event__header">-->
    <!--        <img-->
    <!--          alt="lorem"-->
    <!--          src="https://images.unsplash.com/photo-1522158637959-30385a09e0da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"-->
    <!--        />-->
    <!--      </div>-->

    <div class="container" style="margin-top: 4em" *ngIf="userEventLoaded">
      <div class="row">
        <div class="col-8">
          <h1 class="text-uppercase">{{ userEvent.label }}</h1>
        </div>
        <div class="col-4 text-right">
          <a class="butt facebook" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a class="butt instagram" href="#">
            <i class="fab fa-instagram"></i>
          </a>

          <a class="butt twitter" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-carousel
            timings="250ms ease-in"
            [autoplay]="true"
            interval="5000"
            color="warn"
            maxWidth="auto"
            proportion="40"
            slides="3"
            [loop]="true"
            [hideArrows]="false"
            [hideIndicators]="true"
            [useKeyboard]="true"
            [useMouseWheel]="false"
            orientation="ltr"
          >
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let slide of slides; let i = index"
              [image]="slide.image"
              overlayColor="#00000040"
              [hideOverlay]="false"
            ></mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>
      <div class="row" style="margin-top: 3em">
        <div class="col-4">
          <mat-card-subtitle style="font-size: x-large">Informations</mat-card-subtitle>

          <div class="contaienr-fluid">
            <div class="row">
              <div class="col text-uppercase">
                <h2>{{ userEvent.label }}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="fas fa-map-marker-alt"></i>
                <a href="#">
                  <span class="text-uppercase">{{ userEvent.location }}</span
                  >{{ userEvent.address }}, {{ userEvent.zipcode }} {{ userEvent.city }}
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col"><i class="fas fa-calendar-alt"></i> {{ userEvent.date }}</div>
            </div>
            <div class="row">
              <div class="col"><i class="fas fa-hourglass-half"></i> {{ userEvent.duration }}</div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <mat-card-subtitle style="font-size: x-large">Description</mat-card-subtitle>
          <div class="container-fluid">
            <div class="row">
              <div class="col" style="padding: 0">
                {{ userEvent.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <mat-card-subtitle style="font-size: x-large">Booking</mat-card-subtitle>
          <div class="contaienr-fluid">
            <div class="row">
              <div class="col"><i class="fas fa-money-bill-wave-alt"></i> {{ userEvent.price }} $</div>
            </div>

            <div class="row">
              <div class="col">
                <i class="fas fa-globe"></i>
                <a href="#">Booking link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- Tab for the top trends-->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">trending_up</mat-icon>
      Trending events
    </ng-template>
    <div class="container card-container" style="margin-top: 2em">
      <div class="row">
        <div *ngFor="let event of trendingEvents" class="col-12 col-lg-6" style="margin-top: 2em">
          <app-event-card
            facebookUrl="lorem"
            instagramUrl="lorem"
            twitterUrl="lorem"
            shortName="{{ event.label }}"
            companyName="{{ event.company_name }}"
            date="{{ event.date }}"
            imageUrl="{{ event.picture1 }}"
            duration="{{ event.duration }}"
            title="{{ event.title }}"
            type="{{ event.type }}"
            dateEvent="{{ event.date }}"
            city="{{ event.city }}"
            address="{{ event.address }}"
            [event]="event"
          ></app-event-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
