.close-event-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.6;
}

.close-event-modal:hover {
  opacity: 1;
}

.image-event-modal {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.event-modal-content {
  padding: 1rem;

  & .event-modal-informations {
    & i {
      width: 1.5rem;
    }
  }
}
